.ps-ir-title{
    height:45px;
    line-height:45px;
    border-bottom:1px solid gray;
}
.ps-ir-title .zf-new{
margin-left:80%;
}

.ps-ir-title .zf-leading{
margin-left:2%;
}
.ps-ir-title .zf-export{
    margin-left:2%;

}