.vk-home-wrap{
	/*background-image: url("../../../resource/2.jpg");*/
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-color: white;
}
.vk-tree-cont{
	position: relative;
	float: left;
	width: 250px;
	height: calc(100% - 50px);
	background-color: #001529;
	z-index: 100;
	transition: width 0.5s ease;
	overflow: hidden;
}
.vk-tree{
	/*height:  (100% );*/
    /*overflow: auto;*/

}
.vk-wrapper-cont{
	position: absolute;
	top: 50px;
	padding-left: 250px;
	float: left;
	height: calc(100% - 50px);
	width: 100%;
	transition: padding-left 0.5s ease;
	overflow: auto;
	/*min-height: 500px;*/

}
.vk-cont{
	width: 100%;
	height: 100%;
	/*min-height: 500px;*/
	background-color: white;
}
.vk-home-wrap{
	position: relative;
	/*min-height: 500px;
	min-width: 962px; */
	height: 100%;
}
.vk-home-profile{
	position: absolute;
	top:0;
	left: 0;
    width: 100%;
	padding-top: 10px;
	padding-left: 10px;
	height: 85px;
	background-color: white;
	border-bottom: 1px dashed lightgray;
	
}
.vk-home-profile span{
	transition: all 0.5s ease;
}
.vk-profile-name{
	display: block;
	margin-left: 80px;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
.vk-profile-dept{
	display: block;
	margin-left: 80px;
	font-size: 14px;
	color: grey;
	margin-top: 6px;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
.vk-home-profile .ant-avatar{
	position: absolute;
	top:10px;
}
.vk-home-profile .ant-avatar-lg{
	width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
}
.ant-menu-inline, .ant-menu-vertical{
	border: 0;
}
.ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-item{
	left: 0px;
}
.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title{
	width: calc(100%);
}
.ant-tabs-bar{
	margin: 0 0 0 0;
}
tr,th,td{
	overflow: hidden;
	white-space: nowrap;
}
.row-highlight{
	background-color: rgb(20,150,242);
	color: white;
	
}
.row-highlight td{
	background-color: rgb(20,150,242)!important;
	color: white!important;
}
.ant-table-thead > tr, .ant-table-tbody > tr{
	transition: none !important;
}
.ant-table-tbody > tr > td{
	transition: none !important;
}
.vk-subpage{
	padding-left: 10px; 
	padding-top: 8px;
	overflow: auto;
	/*transition: all 0.4s;*/
}
.vk-subpage-loading{
	text-align: center;
}
.ps-search-condition{
	margin-bottom: 10px;
}
.ps-search-label{
	display: block;
	text-align: right;
	padding-top: 5px;
	padding-right: 10px;

}
.ps-new{
	float: right;
	margin-right: 10px;
}
.ps-loading-center{
	text-align: center;
}
.ps-table-cont thead tr th{
    background: #001529;
    color:#00ffff;
}
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title{
	    padding: 0 25px !important;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab.ant-tabs-tab-active{
	height: 40px;
    border-bottom: 3px solid #1890ff;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
	height: 40px;
    border-bottom: 3px solid #fafafa;
}
.noselect {

	-webkit-touch-callout: none; /* iOS Safari */

	-webkit-user-select: none; /* Chrome/Safari/Opera */

	-khtml-user-select: none; /* Konqueror */

	-moz-user-select: none; /* Firefox */

	-ms-user-select: none; /* Internet Explorer/Edge */

	user-select: none; /* Non-prefixed version, currently

	not supported by any browser */

}