.ps-green-table{
    border: 1px solid #e8e8e8;
    width: 100%;
}
.ps-green-table tr {
    height: 40px;
}
.ps-green-table td{
    text-align: center;
}
.ps-green-table .ps-weight-label{
    font-weight: bold;
}
.ps-fm-img{
    cursor: pointer;
    height: 200px;
}
.ps-fm-img-big{
    width: 100%;
}