.vk-login-cont{
	background-image: url("../../statics/img/bg.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	position: relative;
}

.vk-btns-cont button {
	display: inline-block;
	width: 100%;
}

#lgForm>div{
	margin-bottom: 10px;
}
#canvas{
	position: absolute;
	left: 0;
	top: 0;
}
#lgForm{
	width: 400px;
	position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.logo-cont{
	text-align: center;
}
.logo-cont img{
	width:250px;
	height: 246px;
}
.login-footer{
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
}