$navbarColor:rgb(20,150,242);
.navbar{
	margin-bottom: 0px !important;
	height: 50px;
	background-color: $navbarColor;
}
.nav-cont{
	float: left;
	height: 100%;
	color: white;
}
.nav-left-cont{
	width: 250px;
	overflow: hidden;
	text-align: center;
	img{
		height: 100%;
		/*width: 100%;*/
	}
}

.nav-right-cont{
	width: 250px;
	float: right;
}
.nav-center-ul{
	height: 100%;
}
.nav-center-li{

	font-size: 14px;
	float: left;
	width: 100px;
	height: 100%;
	line-height: 50px;
}
.nav-center-li a{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	color: white;
}
.nav-center-li a:hover{
	background-color: rgb(20,129,228);
}
.nav-center-li.short-width{
	width: 50px;
}
.lg-font {
	.ant-badge{
		font-size: 22px;
	}
	i{
		font-size: 22px;
		vertical-align: middle;
	}
	
}
.nav-right-cont span{
	vertical-align: middle;
}
.nav-right-cont a{
	color: white;
}
.nav-right-wrap{
	padding: 9px 0;
}
.nav-right-wrap>span{
	margin-right: 10px;
}
.nav-logout{
	float: right;
	margin-right: 10px;
}
.nav-logout button{
	color: white !important;
	border: 0px
}
.nav-logout button:active{
	background-color: rgb(20,129,228) !important;
}
.nav-logout button:hover{
	/*background-color: rgb(20,129,228)!important;*/
}



